header {
  height: 100px;
  display: flex;
  align-items: center;
  /* background-color: pink; */
  padding: 0 0 0 20px;
  justify-content: space-around;
}

.dc-logo {
  width: 60px;
}

.header-item {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.search-input {
  height: 16px;
  padding: 12px;
  border-radius: 30px;
}
